
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Catch All. Values View</title>
</head>
<body>
    Result: @Model
</body>
</html>
