
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestController Index</title>
</head>
<body>
    <p>
        Routing samples. <br />
        Sample: 02_DefaultValue <br /><br />
        Controller: <b>Test</b><br />
        Method: Index<br />
    </p>
</body>
</html>
