@model ComponentViewModel.Model.CartSummaryViewModel

<table border="1">
    <tr>
        <td>Count</td>
        <td>@Model.ProductCount</td>
    </tr>
    <tr>
        <td>Sum</td>
        <td>$@Model.Sum</td>
    </tr>
</table>