
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a asp-action="sample1">Sample1. Ответ text/plain</a><br />
    <a asp-action="sample2">Sample2. Ответ application/json</a>
</body>
</html>
