
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Constraints. Index View</title>
</head>
<body>
    id = @Model
</body>
</html>
