
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index View</title>
</head>
<body>
    <p>
        Controller: HomeController <br />
        View: Index
    </p>

</body>
</html>
