
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <ul>
        <li><a asp-controller="redirects">Перенаправления</a></li>
        <li><a asp-controller="json">JSON ответ</a></li>
        <li><a asp-controller="contentresult">Возврат указанного содержимого</a></li>
        <li><a asp-controller="files">Возврат файлов</a></li>
        <li><a asp-controller="statuscodes">Статус коды</a></li>
    </ul>
</body>
</html>
