
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Redirects Controller Index</title>
</head>
<body>
    <ul>
        <li><a asp-action="sample1">Sample 1</a></li>
        <li><a asp-action="sample2">Sample 2</a></li>
        <li><a asp-action="sample3">Sample 3</a></li>
        <li><a asp-action="sample4">Sample 4</a></li>
        <li><a asp-action="sample5">Sample 5</a></li>
        <li><a asp-action="sample6">Sample 6</a></li>
    </ul>
</body>
</html>
