
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Скачивание файла</title>
</head>
<body>
    <a asp-action="sample1">Sample1. Байт массив и имя файла.</a> <br />
    <a asp-action="sample2">Sample2. Поток.</a><br />
    <a asp-action="sample3">Sample3. Физический файл.</a><br />
</body>
</html>
